<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Task4</display-name>
  <filter>
    <filter-name>otherfilter</filter-name>
    <filter-class>com.epam.lab.servlet.filter.OtherUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/adminroom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/MyJournal</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/MyLecturer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/StudentRoom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/StudentRoomMyc</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/MyJournal</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/MyLecturer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/StudentRoom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>otherfilter</filter-name>
    <url-pattern>/StudentRoomMyc</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>lecturefilter</filter-name>
    <filter-class>com.epam.lab.servlet.filter.LectureFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>lecturefilter</filter-name>
    <url-pattern>/adminroom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>lecturefilter</filter-name>
    <url-pattern>/MyJournal</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>lecturefilter</filter-name>
    <url-pattern>/MyLecturer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>lecturefilter</filter-name>
    <url-pattern>/StudentRoom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>lecturefilter</filter-name>
    <url-pattern>/StudentRoomMyc</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminfilter</filter-name>
    <filter-class>com.epam.lab.servlet.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminfilter</filter-name>
    <url-pattern>/MyJournal</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminfilter</filter-name>
    <url-pattern>/MyLecturer</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminfilter</filter-name>
    <url-pattern>/StudentRoom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminfilter</filter-name>
    <url-pattern>/StudentRoomMyc</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>mainfilter</filter-name>
    <filter-class>com.epam.lab.servlet.filter.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>mainfilter</filter-name>
    <url-pattern>/Workroom</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mainfilter</filter-name>
    <url-pattern>/WorkStudent</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mainfilter</filter-name>
    <url-pattern>/WorkCourse</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mainfilter</filter-name>
    <url-pattern>/WorkJournal</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mainfilter</filter-name>
    <url-pattern>/adminroom</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>homep</servlet-name>
    <servlet-class>com.epam.lab.servlet.Home</servlet-class>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>homep</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eduser</servlet-name>
    <servlet-class>com.epam.lab.servlet.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eduser</servlet-name>
    <url-pattern>/eduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>banusers</servlet-name>
    <servlet-class>com.epam.lab.servlet.BannedUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>banusers</servlet-name>
    <url-pattern>/bannedusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>com.epam.lab.servlet.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aboutus</servlet-name>
    <servlet-class>com.epam.lab.servlet.AboutUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutus</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Log</servlet-name>
    <servlet-class>com.epam.lab.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newcourse</servlet-name>
    <servlet-class>com.epam.lab.servlet.CreateNewCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newcourse</servlet-name>
    <url-pattern>/NewCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Smail</servlet-name>
    <servlet-class>com.epam.lab.servlet.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Smail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Nlector</servlet-name>
    <servlet-class>com.epam.lab.servlet.CreateNewLector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nlector</servlet-name>
    <url-pattern>/NewLector</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.epam.lab.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetRating</servlet-name>
    <servlet-class>com.epam.lab.servlet.SetRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetRating</servlet-name>
    <url-pattern>/SetRating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workstudent</servlet-name>
    <servlet-class>com.epam.lab.servlet.WorkroomMyStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workstudent</servlet-name>
    <url-pattern>/WorkStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workcourse</servlet-name>
    <servlet-class>com.epam.lab.servlet.WorkroomMyCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workcourse</servlet-name>
    <url-pattern>/WorkCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workjourn</servlet-name>
    <servlet-class>com.epam.lab.servlet.WorkroomMyJournal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workjourn</servlet-name>
    <url-pattern>/WorkJournal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workroom</servlet-name>
    <servlet-class>com.epam.lab.servlet.Workroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workroom</servlet-name>
    <url-pattern>/Workroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stjournal</servlet-name>
    <servlet-class>com.epam.lab.servlet.StudentroomMyJournal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stjournal</servlet-name>
    <url-pattern>/MyJournal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stlec</servlet-name>
    <servlet-class>com.epam.lab.servlet.StudentroomMyLecture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stlec</servlet-name>
    <url-pattern>/MyLecturer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courses</servlet-name>
    <servlet-class>com.epam.lab.servlet.Cours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courses</servlet-name>
    <url-pattern>/Cours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delcourses</servlet-name>
    <servlet-class>com.epam.lab.servlet.DeleteStudentFromCours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delcourses</servlet-name>
    <url-pattern>/DelCours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMessag</servlet-name>
    <servlet-class>com.epam.lab.servlet.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessag</servlet-name>
    <url-pattern>/sendMesage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addstudcours</servlet-name>
    <servlet-class>com.epam.lab.servlet.AddStudnetCours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudcours</servlet-name>
    <url-pattern>/ASCours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>langE</servlet-name>
    <servlet-class>com.epam.lab.servlet.LanguageEnglish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>langE</servlet-name>
    <url-pattern>/lange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>langU</servlet-name>
    <servlet-class>com.epam.lab.servlet.LanguageUkrainian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>langU</servlet-name>
    <url-pattern>/langu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exit</servlet-name>
    <servlet-class>com.epam.lab.servlet.Exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exit</servlet-name>
    <url-pattern>/Exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regist</servlet-name>
    <servlet-class>com.epam.lab.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regist</servlet-name>
    <url-pattern>/Registr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.epam.lab.servlet.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/Uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SRoom</servlet-name>
    <servlet-class>com.epam.lab.servlet.StudentRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRoom</servlet-name>
    <url-pattern>/StudentRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SRoomC</servlet-name>
    <servlet-class>com.epam.lab.servlet.StudentroomMyCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRoomC</servlet-name>
    <url-pattern>/StudentRoomMyc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.epam.lab.servlet.AdminRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/adminroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletecourse</servlet-name>
    <servlet-class>com.epam.lab.servlet.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecourse</servlet-name>
    <url-pattern>/delcourse</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         F:\Borskiy\workspace\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps\Task4\download
     </param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>/pages/index.jsp</welcome-file>
  </welcome-file-list>
  <description>MySQL Test App</description>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/my_database</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>